.proyecto {
  text-align: center;
}
.titulo {
  font-size: 50px;
  text-align: center;
  font-weight: 600;
}
.table {
  text-align: center;
  font-weight: 300;
}
.col_1 {
  text-align: right;
  width: 50%;
}
.col_2 {
  font-weight: 600;
  text-align: left;
}
